/* PHASE 6: Sidebar */
.profile-picture {
  position: relative;
  height: 198px;
  width: 198px;
  background-size: cover;
  border: 1px black solid;
  background-image: url("./cat.jpg");
  margin-top: -120px;
  overflow: hidden;
  border-radius: 5px;
}

.online{
  position: absolute;
  color: white;
  /*border-top: 1px black solid;
  border-bottom: 1px black solid;*/
  box-shadow: 0px 0px 1px black;
  background: #0c0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  transform: rotate(-45deg);
  display: block;
  width: 105px;
  padding: 5px;
  text-align: center;
  top:12px;
  left: -28px;
}

.profile-info {
  margin: 20px 0px;
}

.profile-info h2 {
  font-size: 24px;
}

.profile-info p{
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.profile-nav {
  border-top: 1px #ccc solid;
  padding-bottom: 20px;
}

.profile-nav li{
  border-bottom: 1px #ccc solid;
  padding: 5px;
}

.profile-nav li:hover{
  background-color: #eee;
  cursor: pointer;
}
